.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 90%;
  max-width: 960px;
}

.navigation-bar {
  background: #eeeeee;
  padding: 1em;
  display: flex;
  /* flex-direction: column; */
  gap: 1em;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 600;
}

/* dla telefonow mniejszy font */
@media only screen and (max-width: 480px) {
  .navigation-bar {
    font-size: 16px;
  }    
}

h1 {
  color: #1e81b0;
}

.wiki-content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.search-bar {
  display: flex;
  padding: 1em 0;
  width: 100%;
  gap: 2em;
}

/* dla telefonow nie chcemy napisu szukajka */
@media only screen and (max-width: 700px) {
  .search-bar > h1 {
    display: none;
  }  
}


.search-bar .search-input {
  flex: 1;
  display: flex;
  padding:  0;
  box-shadow: 0 6px 10px -8px #666;
  border-radius: 12px;
}

.search-input > input {
  flex: 1;
  font-size: 24px;
  padding: 0 .5em;
  border-radius: 12px 0 0 12px;
  border: 1px solid #eeeeee;
}

/* dla telefonow mniejszy font w inpucie */
@media only screen and (max-width: 700px) {
  .search-input > input {
    font-size: 18px;
  }    
}

/* przycisk szukaj */
.search-input > button {
  padding: 0.5em 2em;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0 12px 12px 0;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

/* dla telefonow mniejszy font w przycisku szukaj */
@media only screen and (max-width: 480px) {
  .search-input > button {
    font-size: 16px;
    padding: .5em 1em;
  }    
}

/* przycisk szukaj po najechniu myszka */
.search-input > button:hover {
  color: #1e81b0;
}

.wiki-results {
  display: flex;
  flex-direction: column;
  gap:.5em;
}
.result-item {
  border-radius: 12px;
  padding: 1em 1em;
  box-shadow: 0 4px 12px -6px #666;
  cursor: pointer;
}

.result-item > h3 {
  margin-block-start: 0;
}

.result-item:hover {
  background: #abdbe3;
}

.about-content {
  display: flex;
  padding-top: 2em;
}

/* dla telefonow mniejszy font w inpucie */
@media only screen and (max-width: 700px) {
  .about-content {
    flex-direction: column;
  }
  .about-content > img {
    align-self: center;
  }    
}